/*Setting Background image from local (css) folder*/
body {
	background-image: url("bguitar.jpg");
}

/* Logo PNG image set on top of the "header" div */
.logo {
	width: 30% ;
 	margin-left: -15%;
}

header {
	font-size: 50px;
}

/*Banner image set where header is placed along with (.logo)*/
#banner {
	background-image: url("bgrocker.jpg");
	color:white;
	text-align: center;
}

/*Setting the trivia questions div, color, size, width, opacity & text (when revealed from on click #begin)*/
#questionForm {
	width: 50%;
	height: 100%;
	margin-left: 260px;
	background-color:whitesmoke;
	color: black;
	margin-bottom: 100px;
	font-size: 20px;
	opacity: 0.8;
	font-family: 'Rock Salt', cursive;
	font-style: bolder;
}

/*Styling for the scoreboard that reveals at the end of the countdown*/
#scores {
	background-color: white;
	font-family: 'Rock Salt', cursive;
	width:50%;
	height:50%;
	margin-left: 260px;
	color: #00004d;
	font-size: 50px;
	margin-top: 10px;
	opacity: 0.5;
}